<div class="tab-pane fade show active" id="show-image" role="tabpanel" aria-labelledby="home-tab">
  <!-- DataTales Example -->
  <div class="row">
    <% items.imageId.forEach((image, index) => { %>
    <div class="col-md-4">
      <div class="card shadow mb-4 mt-2">
        <div class="card-body">
          <img src="http://localhost:3000/<%= image.imageUrl %>" alt="image-item-<%= index+1 %>" class="img-fluid" />
        </div>
      </div>
    </div>
    <% }); %>
  </div>

  <a href="/admin/item" class="btn btn-warning mb-4">Back</a>
</div>